@media screen and (max-width: 768px) {
     .nav {
        padding: 20px 0px;
        .ul {
            display: none;
            position: fixed;
            top: 0;
            right: -100%;
            width: 50%;
            height: 100%;
            padding-top: 80px;
            line-height: 40px;
            transition: 0.5s ;
            transform-origin: right;
            backdrop-filter: blur(5px);
            background-color: rgb(0, 0, 0, 0.5);
            .about{
                letter-spacing: 0.3px;
            }


        }
        .ul li{
            margin-left: 50px;
        }
        .ul li a{
            font-size: 20px;
        }
        #check:checked ~ ul{
            right: 2;
        }
       

        .toggle {
            order: 3;
        width: 28px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 10;
        cursor: pointer;
        flex-direction: column;
    
        

        .line {
            height: 3px;
            width: 100%;
            background-color: $white_color;
        }
        }
        input[type=checkbox]:checked ~ ul {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            height: 100vh;
            padding: 60px 30px;
            
        }
     }
}